.env
__pycache__/
venv/
trading_positions.db

.idea/
venv/
.venv/
local_storage/
eth/ddd.session
app.log

node_modules/

__pycache__/

lambos/.DS_Store

.DS_Store
/btc/seed.py

K1inch.py

.venv/
K1inch.py
/polar-v3.3.0-mac.dmg

SECRETS.py
